@import url(https://fonts.googleapis.com/css?family=Lato:100italic,300);

html , body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}


/*Ui view content.  Found in index.html*/
.ui-container {
  text-align: center;
}

/*Styling for the main container that sits behind ALL site content*/
.main-container {
  height: 100%;
  width: 100%;
  background-color: #25aae1;
}

/*Div for the AddNewCard button*/
.addCardButtonSection {
  width: 100%;
  background-color: none;
}

/*Button styling for the addCardButton*/
.addCardButton {
  margin-bottom: 30px;
  background: none;
  color: white;
  width: 90%;
  height: 50px;
  font-family: Proxima Nova Rg, Arial, sans-serif;
  font-size: 18px;
  border: solid;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
}

.deleteCardButton {
  margin-bottom: 30px;
  background: none;
  color: white;
  width: 90%;
  height: 50px;
  font-family: Proxima Nova Rg, Arial, sans-serif;
  font-size: 18px;
  border: solid;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
}

.saveCardButton {
  margin-bottom: 30px;
  background: none;
  color: white;
  width: 90%;
  height: 50px;
  font-family: Proxima Nova Rg, Arial, sans-serif;
  font-size: 18px;
  border: solid;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
}

.addNewCardForm {
  width: 90%;
  background: rgba(1, 0, 3, 0.9);
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 60px auto;
  padding: 40px;
}

.questionInputSection {
  width: 100%;
  background-color: none;
  margin-bottom: 10px;
}

.questionInput {
  width: 90%;
  height: 50px;
  font-size: 20px;
}

.answerInputSection {
  width: 100%;
  background-color: none;
  margin-bottom: 40px;

}

.answerInput {
  width: 90%;
  height: 50px;
  font-size: 20px;
}

select:focus {
  outline: none;
}

.dropdown {
  height: 30px;
  border: none;
  width: 90%;
  border-radius: 0;
  margin-bottom: 20px;
}

/*Styling for the header/nav bar across the top of the app*/
.header {
  height: 75px;
  width: 100%;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}


/*Styling and size of the DevMountain logo in the top-left corner.*/
.logo {
  height: 40px;
}

#dev-logo {
  height: 55px;
}


/*Hamburger menu and styling. Note: Hamburger icon is a font Awesome Icon. You can change size in-line in the navTmpl.html file.*/
.hamburger {
  color: white;
  float: right;
  cursor: pointer;
}

.hamburger:hover {
  color: #25aae1;
}

/*Slideout menu that pops out when you click on the white hamburger menu*/
.slideout-menu {
  position: fixed;
  display: block;
  height: 100%;
  width: 330px;
  background-color: rgba(1, 0, 3, 0.9);
  top: 0;
  right: -350px;
  overflow: scroll;
  z-index: 9;
}

/*The top section in the menu. Contains the search bar and X icon.*/
.top-menu-section {
  width: 100%;
  height: 75px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.addNewTopicSection {
  text-align: center;
}

.addNewTopicButton {
  margin-bottom: 30px;
  background: none;
  color: white;
  width: 80%;
  height: 50px;
  font-family: Proxima Nova Rg, Arial, sans-serif;
  font-size: 18px;
  border: solid;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
}

.addNewTopicField {
  height: 50px;
  width: 80%;
  font-size: 20px;
  margin-bottom: 20px;
}

.deleteTopicButton {
  margin-bottom: 30px;
  background: none;
  color: white;
  width: 80%;
  height: 50px;
  font-family: Proxima Nova Rg, Arial, sans-serif;
  font-size: 18px;
  border: solid;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
}
/*All styling for the topics in the menu*/
.topics {
  height: 75px;
  width: 100%;
  text-align: right;
  font-size: 25px;
  padding-right: 30px;
  text-decoration: none;
}

.topicLinks {
  text-decoration: none;
  color: white;
      cursor: pointer;
}

.topicLinks:hover {
    color: #25aae1;
}


/*Search bar in the menu*/
.search {
  height: 50px;
  width: 230px;
  font-size: 20px;
}


/*The X icon in the menu. Note: X icon is a font Awesome Icon. You can change size in-line in the navTmpl.html file.*/
#slideout-closed-menu-button {
  float: right;
  display: show;
  color: white;
}

#slideout-closed-menu-button:hover {
  color: #25aae1;
  cursor: pointer;
}

/*.content-section {
  width: 100%;
  background-color: red;
}*/
/*#delete-button-card-section {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
}*/

.delete-card-button {
  float: right;
  display: show;
  color: white;
}

.delete-card-button:hover {
  color: red;
}


/*The blue background area and styling on the whole app*/
.home-page-content {
  width: 100%;
  background-size: cover;
  background-color: #25aae1;
  padding: 40px 20px 40px 20px;
}

/*Styling for the paragraph tags for the front and back of each flash card*/
.p-front {
  font-size: 40px;
  line-height: 1;
  margin: 0;
  padding: 20px;
}

.p-back {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 20px;
}


/*Flash Card Flip functionality below*/
.flash-card {
  height: 300px;
  margin-bottom: 40px;
}

.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}

.flipped {
  -webkit-transform: rotatex(-180deg);
}

.card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}

.front {
  position: absolute;
  z-index: 1;
  background: rgba(1, 0, 3, 0.9);
  color: white;
  cursor: pointer;
}

 .back {
  -webkit-transform: rotatex(-180deg);
  background: rgba(255, 255, 255, 0.9);
  color: black;
  cursor: pointer;
}

.noOverflow {
  display: hidden;
}

.overflow {
  overflow: scroll;
}

@media (min-width: 886px) {

  .flash-card {
    max-width: 500px;
    margin: 30px auto;
  }


  .addCardButtonSection {
    width: 500px;
    background-color: none;
    margin: 0 auto;
  }

  .addCardButton {
    margin-bottom: 30px;
    background: none;
    color: white;
    width: 400px;
    height: 50px;
    font-family: Proxima Nova Rg, Arial, sans-serif;
    font-size: 18px;
    border: solid;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
  }

  .deleteCardButton {
    margin-bottom: 30px;
    background: none;
    color: white;
    width: 400px;
    height: 50px;
    font-family: Proxima Nova Rg, Arial, sans-serif;
    font-size: 18px;
    border: solid;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
  }

  .saveCardButton {
    margin-bottom: 30px;
    background: none;
    color: white;
    width: 90%;
    height: 50px;
    font-family: Proxima Nova Rg, Arial, sans-serif;
    font-size: 18px;
    border: solid;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
  }

  .addNewCardForm {
    width: 400px;
    background: rgba(1, 0, 3, 0.9);
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 60px auto;
    padding: 40px;
  }

}
