<!-- The entire blue background section on the home page. Also has instructions on how to use/navigate the app -->

<div class="home-page-content">
  <div class="flash-card">
      <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
          <div class="face front">
            <p class="p-front">
              Welcome to Flashy!
              <br>
              <br>
              Tap to get started
            </p>
          </div>
          <div class="face back">
            <p class="p-back">
              Search for any topic to study by simply clicking on the hamburger menu!
            </p>
          </div>
      </div>
  </div>
</div>
