<!--Use this to create a new flash card  -->
<section class="addNewCardForm">
  
    <!-- Text inputs to make a new question and answer -->
    <section class="questionInputSection">
      <input class="questionInput" ng-model="question" type="text" name="Question" placeholder="Add a Question" value="">
    </section>

    <section class="answerInputSection">
      <input class="answerInput" ng-model="answer" type="text" name="Answer" placeholder="Add an Answer" value="">
    </section>

    <!-- Dropdown menu to select which topic you want to add your new card to -->
    <section class="dropDownMenuSection">
      <select class="dropDown" name="" ng-model="topic">
        <option value="" disabled selected></option>
        <option ng-repeat="topic in topics" value="{{topic.name}}">{{topic.name}}</option>
      </select>
    </section>

    <!-- Button to submit content for new flash card -->
    <section class="addCardButtonSection">
          <button class="addCardButton" ng-click="newCard()" type="button" name="button">Save Card</button>
    </section>

</section>
