
<!-- blue background behind all flash cards -->
<div class="home-page-content" id="update">
  <div class="addCardButtonSection">

    <!-- Button redirects the user to the addCardForm where they can add a new flashcard to any topic -->
    <button class="addCardButton" ui-sref="addCardForm" type="button" name="button">Add New Card</button>

    <button class="deleteCardButton" type="button" name="button" value="toggle" ng-click="toggle = !toggle">Delete Card</button>
  </div>
  <!-- Reusable Flash card html from flashCardTmpl.html -->
<flash-card-directive toggle="toggle"></flash-card-directive>
</div>
